
@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default
 }


  @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #adc178;
  --color-secondary: #678314;
  --color-accent: #adc17899; 
}

 .active {
  background-color: #adc178;

  color: black;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}